/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 760px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 990px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 840px) {
  nav {
    position: relative;
  }
  .navbar .bx-menu {
    width: fit-content;
    height: fit-content;
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .characters-arrow,
  .links li:hover .weapons-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .characters-sub-menu,
  nav .navbar .links li:hover .weapons-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .characters-sub-menu,
  .navbar .nav-links.show3 .links .weapons-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .characters-arrow,
  .navbar .nav-links.show3 .links .weapons-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
  p {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1400px) {
  #characters {
  }

  .head {
    align-items: center;
  }

  nav .navbar .nav-links {
    max-width: 100%;
  }
  .character-container .popup-image img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 40%;
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .character-container .popup-image img {
    height: auto;
    width: 100%;
  }
  .character-container,
  .image-container .image img {
    height: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  section.home {
    height: auto;
    width: 100%;
  }
  section.character {
    height: auto;
    width: 100%;
  }
  section.weapons {
    height: auto;
    width: 100%;
  }
  section.stages {
    height: auto;
    width: 100%;
  }
  section.gamemodes {
    height: auto;
    width: 100%;
  }
  section.about {
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  section.home {
    height: auto;
    width: 100%;
  }
  section.character {
    height: auto;
    width: 100%;
  }
  section.weapons {
    height: auto;
    width: 100%;
  }
  section.stages {
    height: auto;
    width: 100%;
  }
  section.gamemodes {
    height: auto;
    width: 100%;
  }
  section.about {
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 740px) {
  section.home {
    height: auto;
    width: 100%;
  }
  section.character {
    height: auto;
    width: 100%;
  }
  section.weapons {
    height: auto;
    width: 100%;
  }
  section.stages {
    height: auto;
    width: 100%;
  }
  section.gamemodes {
    height: auto;
    width: 100%;
  }
  section.about {
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  section.home {
    height: auto;
    width: 100%;
  }
  section.character {
    height: auto;
    width: 100%;
  }
  section.weapons {
    height: auto;
    width: 100%;
  }
  section.stages {
    height: auto;
    width: 100%;
  }
  section.gamemodes {
    height: auto;
    width: 100%;
  }
  section.about {
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  section.home {
    height: auto;
    width: 100%;
  }
  section.character {
    height: auto;
    width: 100%;
  }
  section.weapons {
    height: auto;
    width: 100%;
  }
  section.stages {
    height: auto;
    width: 100%;
  }
  section.gamemodes {
    height: auto;
    width: 100%;
  }
  section.about {
    height: auto;
    width: 100%;
  }
}
