@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Black.eot");
  src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"),
    url("fonts/Montserrat-Black.ttf") format("truetype"),
    url("fonts/Montserrat-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"),
    url("fonts/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.eot");
  src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1180px) {
  .l-side-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header--cta {
    display: none;
  }
}

@media (max-width: 1180px) {
  .intro {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .intro--banner {
    height: 380px;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner img {
    width: 430px;
  }
  .intro--options > a {
    margin-right: 30px;
  }
  .intro--options > a:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .intro--banner {
    height: 305px;
  }
  .intro--banner h1 {
    font-size: 44px;
  }
  .intro--banner img {
    width: 330px;
  }
  .intro--options {
    display: block;
  }
  .intro--options > a {
    display: block;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .intro--options > a:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .intro--banner {
    height: 360px;
  }
  .intro--banner h1 {
    font-size: 55px;
  }
  .intro--banner img {
    display: none;
  }
}
@media (max-width: 600px) and (max-height: 750px) {
  .intro--banner {
    height: auto;
  }
  .intro--banner::before,
  .intro--banner::after {
    display: none;
  }
  .intro--banner h1 {
    margin-top: 0;
  }
  .intro--options {
    display: none;
  }
}

@media (max-width: 1180px) {
  .characters {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .characters--lockup .slider--item-image {
    width: 120px;
    height: 120px;
  }
  .characters--lockup .slider--item-center .slider--item-image {
    width: 240px;
    height: 240px;
  }
  .characters--lockup .slider--next,
  .characters--lockup .slider--prev {
    top: 130px;
  }
}
@media (max-width: 767px) {
  .characters--lockup .slider {
    width: 75%;
  }
  .characters--lockup .slider--item-image {
    width: 90px;
    height: 90px;
  }
  .characters--lockup .slider--item-center .slider--item-image {
    width: 190px;
    height: 190px;
  }
  .characters--lockup .slider--next,
  .characters--lockup .slider--prev {
    top: 105px;
  }
}
@media (max-width: 600px) {
  .characters--lockup .slider {
    width: auto;
  }
  .characters--lockup .slider--item-left,
  .characters--lockup .slider--item-right {
    display: none;
  }
}

@media (max-width: 1180px) {
  .about {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .about--banner {
    height: 305px;
  }
  .about--banner::before {
    top: 0;
    left: 125px;
  }
  .about--banner::after {
    top: 35px;
    left: 260px;
  }
  .about--banner h2 {
    margin-top: 10px;
    font-size: 44px;
  }
  .about--banner h2::before {
    top: 28px;
    left: 168px;
  }
  .about--banner h2::after {
    top: 163px;
    left: 163px;
  }
  .about--banner img {
    width: 315px;
  }
}
@media (max-width: 600px) {
  .about--banner {
    height: auto;
  }
  .about--banner::before {
    left: 155px;
  }
  .about--banner::after {
    left: 310px;
  }
  .about--banner h2 {
    margin-top: 0;
    font-size: 55px;
  }
  .about--banner h2::before {
    top: 43px;
    left: 214px;
  }
  .about--banner h2::after {
    top: 205px;
    left: 205px;
  }
  .about--banner img {
    display: none;
  }
  .about--options {
    display: none;
  }
}

@media (max-width: 1180px) {
  .contact--lockup {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .contact--lockup {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1180px) {
  .hire {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .characters-request--options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .characters-request--options .options-a,
  .characters-request--options .options-b {
    display: block;
    width: auto;
  }
}
@media (max-width: 600px) {
  .characters-request--options {
    margin: 20px 0;
  }
}
@media (max-width: 600px) and (max-width: 415px) {
  .characters-request--options {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .characters-request--options label {
    width: 150px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .characters-request--options input[type="checkbox"]:checked + label svg {
    width: 12px;
  }
  .characters-request--information {
    margin-bottom: 30px;
  }
  .characters-request--information .information-name,
  .characters-request--information .information-email {
    height: 40px;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .outer-nav > li {
    font-size: 44px;
  }
}
@media (max-width: 600px) {
  .outer-nav > li {
    font-size: 34px;
  }
}
