@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/bg2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/* Desktop Navigation */

nav {
  position: relative;
  background-color: rgb(77, 77, 77);
  box-shadow: black;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  letter-spacing: -1px;
  font-weight: 800;
  transition: 0.2s ease;
  text-shadow: 3px 5px 20px rgb(20, 19, 19);
}

nav ul {
  float: right;
  margin-right: 80px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 13px;
}

a:hover {
  background: black;
  transition: 0.5s;
}

.checkbtn {
  line-height: 80px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}

.checkbtn i {
  color: white;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.checkbtn i:hover {
  background: black;
}

#check {
  display: none;
}
/* section */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  flex-direction: column;
}

/* home */
#home {
  position: relative;
}

.title {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.section_pic-container {
  display: flex;
  flex-direction: column;
  height: 256px;
  width: 256px;
  margin: auto 0;
}

.home-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: column;
}

.home-details-container {
  justify-content: center;
  flex-direction: row;
}

.home-container,
.home-details-container {
  display: flex;
  flex-direction: column;
}

.home-logo {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(54, 54, 54);
  border-radius: 2rem;
  border: rgb(54, 54, 54) 0.1rem solid;
  border-color: rgb(0, 0, 0);
  text-align: center;
}
.section-container {
  gap: 4rem;
  height: 80%;
}

.section-text {
  align-self: center;
  text-align: center;
}
.title-2 {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: left;
}

p {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: medium;
}
