/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-image: url("./assets/bg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.6s;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #000000;
  box-shadow: 0 1px 2px rgb(0, 0, 0);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .characters-arrow,
.links li:hover .weapons-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  background: none;
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #3b3b3b;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .characters-sub-menu,
nav .navbar .links li:hover .weapons-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .characters-more-sub-menu {
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #000000;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #000000;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #000000;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

/* home */
#home {
  position: relative;
}

.head1 {
  text-align: center;
  margin: 6rem;
  font-size: 3rem;
  color: #fff;
  -webkit-text-stroke: 2px rgb(163, 6, 6);
}

p {
  color: #fff;
  text-align: justify;
  margin: auto 0;
}

.head2 {
  text-align: left;
  margin: 1.5rem;
  font-size: 2.5rem;
  padding: 1rem;
  color: #fff;
  -webkit-text-stroke: 2px rgb(163, 6, 6);
}

.head3 {
  text-align: left;
  margin: 1.5rem;
  font-size: 2rem;
  padding: 1.5rem;
  color: #fff;
  -webkit-text-stroke: 2px rgb(11, 163, 6);
}

.head4 {
  overflow-wrap: break-word;
  text-align: left;
  margin: 1.5rem;
  font-size: 2rem;
  padding: 1.5rem;
  color: #fff;
  -webkit-text-stroke: 2px rgb(206, 81, 9);
}

.section-container {
  gap: 2;
  padding: 3rem;
}

.section-text {
  align-self: center;
  text-align: center;
}

.image-container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
  margin-bottom: 50px;
  float: left;
  width: 24.99999%;
}

.section-details-container {
  justify-content: center;
  flex-direction: row;
}

/* 
character section */
#characters {
  position: relative;
}
div.gallery {
  grid-template-columns: repeat(4);
  border: 1px solid #ccc;
  justify-content: center;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4);
}

div.gallery:hover {
  border: 1px solid #09a311;
}

div.gallery2 {
  grid-template-columns: repeat(4);
  border: 1px solid #ccc;
  background-color: gray;
  justify-content: center;
}
div.gallery2:hover {
  border: 2px solid #a30909;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Survivors section */
#survivors {
  position: relative;
}

#CS1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CS1:hover {
  opacity: 0.7;
}

#CS2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CS2:hover {
  opacity: 0.7;
}

#CS3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CS3:hover {
  opacity: 0.7;
}

#CS4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CS4:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content2,
#caption2 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal3 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content3,
#caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content4 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption4 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content4,
#caption4 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 69px;
  right: 50px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

div.desc {
  padding: 15px;

  text-align: left;
  color: #fff;
  text-align: center;
}

/* infected section */
#infected {
  position: relative;
}

#CPI1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI1:hover {
  opacity: 0.7;
}

#CPI2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI2:hover {
  opacity: 0.7;
}

#CPI3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI3:hover {
  opacity: 0.7;
}

#CPI4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI4:hover {
  opacity: 0.7;
}

#CPI5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI5:hover {
  opacity: 0.7;
}

#CPI6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI6:hover {
  opacity: 0.7;
}

#CPI7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CPI7:hover {
  opacity: 0.7;
}

.modal5 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content5 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption5 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content5,
#caption5 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal6 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content6 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption6 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content6,
#caption6 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal7 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content7 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption7 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content7,
#caption7 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal8 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content8 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption8 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content8,
#caption8 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal9 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content9 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption9 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content9,
#caption9 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal10 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content10 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption10 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content10,
#caption10 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal11 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content11 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption11 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content11,
#caption11 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* Non Playable infected */
#CNPI {
  position: relative;
}
#CNPI1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CNPI1:hover {
  opacity: 0.7;
}

#CNPI2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CNPI2:hover {
  opacity: 0.7;
}

#CNPI3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#CNPI3:hover {
  opacity: 0.7;
}

.modal12 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content12 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption12 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content12,
#caption12 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal13 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content13 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption13 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content13,
#caption13 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal14 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content14 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption14 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

.modal-content14,
#caption14 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* weapons */
/* 
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
} */

/* Weapons Section */
#weapons {
  position: relative;
}

/* div.scroll-container {
  width: 1520px;
  height: 700px;
  overflow: auto;
  margin: 100;
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  padding: 1px;
}

div.scroll-container img {
  padding: 5px;
} */
